cvsgen.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<!ELEMENT cv (ident, formations, experiences)>
<!ATTLIST cv
	id ID #REQUIRED
>
<!ELEMENT cvs (cv+, best-cv?,best-of-cv?)>
<!ELEMENT fin (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT debut (#PCDATA)>
<!ELEMENT ident (nom, prenom+, datenaiss, langues, permis)>
<!ATTLIST ident
	identid ID #IMPLIED>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	langName CDATA #REQUIRED
	matern CDATA #REQUIRED
>
<!ELEMENT permis (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT diplome (intitule)>
<!ATTLIST diplome
	obtenu CDATA #REQUIRED
>
<!ELEMENT langues (langue+)>
<!ELEMENT diplomes (diplome+)>
<!ELEMENT intitule (#PCDATA)>
<!ATTLIST intitule
	opt CDATA #IMPLIED
>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT formation (debut, fin, intitule, diplomes)>
<!ELEMENT experience (debut, fin?, intitule)>
<!ELEMENT formations (formation+)>
<!ELEMENT experiences (experience+)>
<!ELEMENT best-cv EMPTY>
<!ATTLIST best-cv 
	id IDREF #REQUIRED>
	<!ELEMENT best-of-cv EMPTY>
<!ATTLIST best-of-cv 
	ids IDREFS #REQUIRED>