cvsgen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="best-cv">
		<xs:complexType>
			<xs:attribute name="id" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="best-of-cv">
		<xs:complexType>
			<xs:attribute name="ids" type="xs:IDREFS" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ident"/>
				<xs:element ref="formations"/>
				<xs:element ref="experiences"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="data-ty" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cvs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cv" maxOccurs="unbounded"/>
				<xs:element ref="best-cv"/>
				<xs:element ref="best-of-cv"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datenaiss" type="xs:date"/>
	<xs:element name="debut" type="xs:short"/>
	<xs:element name="diplome">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="intitule"/>
			</xs:sequence>
			<xs:attribute name="obtenu" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="diplomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="diplome" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experience">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="debut"/>
				<xs:element ref="fin" minOccurs="0"/>
				<xs:element ref="intitule"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experiences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="experience" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fin" type="xs:short"/>
	<xs:element name="formation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="debut"/>
				<xs:element ref="fin"/>
				<xs:element ref="intitule"/>
				<xs:element ref="diplomes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ident">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="prenom" maxOccurs="unbounded"/>
				<xs:element ref="datenaiss"/>
				<xs:element ref="langues"/>
				<xs:element ref="permis"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="intitule">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="opt" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="langue">
		<xs:complexType>
			<xs:attribute name="langName" type="xs:string" use="required"/>
			<xs:attribute name="matern" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="langues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="langue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="permis" type="xs:string"/>
	<xs:element name="prenom" type="xs:string"/>
</xs:schema>