xsl/toxml/facturationtransfert.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com)-->
<!--element and attribute declarations-->
<!ELEMENT avgNbUnitFacture (#PCDATA)>
<!ATTLIST avgNbUnitFacture
	refproduits CDATA #REQUIRED
>
<!ELEMENT facturation (statFile, factures)>
<!ATTLIST facturation
	dateTransfert NMTOKEN #REQUIRED
>
<!ELEMENT facture (prixAvgArticle, ligneAvg, nbLignes)>
<!ATTLIST facture
	idfacture NMTOKEN #REQUIRED
	nomClient CDATA #REQUIRED
>
<!ELEMENT factures (facture+)>
<!ELEMENT facturesStat (avgNbUnitFacture, ligneAvgFact, nbLignesFact)>
<!ELEMENT ligneAvg (#PCDATA)>
<!ELEMENT ligneAvgFact (#PCDATA)>
<!ELEMENT nbLignes (#PCDATA)>
<!ELEMENT nbLignesFact (#PCDATA)>
<!ELEMENT prixAvgArticle (#PCDATA)>
<!ATTLIST prixAvgArticle
	refproduits CDATA #REQUIRED
>
<!ELEMENT statFile (facturesStat)>
